[submodule "prebuilts"]
	path = prebuilts
	url = https://github.com/friendlyarm/prebuilts.git
[submodule "linux-3.4.y"]
	path = linux-3.4.y
	url = https://github.com/friendlyarm/linux-3.4.y.git
[submodule "rtl8812au"]
	path = rtl8812au
	url = https://github.com/gnab/rtl8812au
